body {
    margin: 0;
    font-family: Tahoma;
    background-color: rgb(231, 231, 231);
    font-size: 14px;
}

.heading {
    padding: 30px 25px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.sub-heading{
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
}

h4 {
    text-align: center;
    font-weight: 100;
    margin: 0px 5px;
    padding: 10px;
    border-left: 4px solid rgb(189, 189, 189);
    background-color: rgb(73, 73, 73);
}


.sidebar {
    box-sizing: border-box;
    height: 100%;
    width:250px;
    position: fixed;
    background-color: rgb(31, 31, 31);
    padding: 15px;
    color: rgb(189, 189, 189);
}

.sidebar-content {
    font-size: 14px;
}

.sidebar-number{
    font-weight: bold;
    color: rgb(220, 220, 220);
}

.sidebar-legend-after {
    background-color: rgb(231, 231, 231);
    color: rgb(31, 31, 31);
    padding: 5px;
    border-radius: 5px;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.legend-color {
    width: 20%;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    border-radius: 5px;
}

.legend-text {
    font-size: 12px;
    width: 80%;
}

.export-button {
    border: none;
    background-color: rgb(73, 73, 73);
    color: rgb(189, 189, 189);
    padding: 10px;
    border-radius: 5px;
    width:100%;
    cursor: pointer;
    text-transform: uppercase;
}

.content {
    width: calc(100% - 250px);
    float:right;
}



.input {
    display: block;
    margin: 20px auto ;
}

input[type=file]::file-selector-button {
    border: 1px solid #474747;
    padding: .3em .6em;
    border-radius: .4em;
    background-color: #f1f1f1;
    cursor: pointer;
    margin-right: 10px;
  }

input[type=file]::file-selector-button:hover {
    background-color: #c4c4c4;
    transition: 0.2s;
  }
  
.headers {
    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 8px 25px;
    margin: 0 auto;
    margin-bottom: 20px; 
}

.header {
    border-radius: 5px;
    padding:  3px 5px;
    font-size: 14px;
}


